body {background-color: AntiqueWhite;} /**задаване на цвят на фона на страницата**/
li {background-color: rgba(135,206,235,1.0);} /**задаване на цвят на фона на хипервръзките**/
div.theorem {background-color: #FFFBF5;} /**задаване на цвят на фона на теоремите**/
 