body {background-color: Wheat; /* цвят на фона, зададен с име на цвят */
	  color: #A0522D; /* цвят на текста, зададен с код в шестнайсетична бройна система */
	  text-align: justify; /* подравняване на текста - двустранно */
	  font-family: 'Arial'; /* шрифт */
	 }