body {background-color: AntiqueWhite;
	 color: #1A4551;
	 text-align: justify;
	 font-family: Arial, sans-serif;
	 }
	 
ul {margin-top: 2em; /**отстъп над менюто с хипервръзките**/
   margin-bottom: 3em; /**отстъп под менюто с хипервръзките**/
   text-align: center; /**подравняване на менюто с хипервръзките в центъра**/
   padding: 20px; /**разстояние от менюто с хипервръзките до разделителната линя**/
   border-bottom: solid #3690AB 1px; /**разделителната линя разположена под менюто с хипервръзките**/
   }
	 
	 
li {background-color: rgba(135,206,235,1.0);
   display: inline; /**визуализиране на елементите на списъка на един ред**/
   padding: 5px 10px; /**отстъпи от текста с цвета на фона на текста**/
   margin: 10px; /**отстъпи от текста с прозрачен фон**/
   text-align: center;
   }

div.theorem {background-color: #FFFBF5;
			color: #42B0D1;
			font-family: "Times New Roman", serif;
			font-style: italic;
			font-size: 13pt;}
			
h1 {color: #3690AB;
   text-align:center;
   text-transform: uppercase;}
   
div.formula {text-align:center;
			font-size: 16pt;
			font-weight: bold;}

p b {font-size: 15pt;}

a:link {text-decoration: none; /**визуализиране на хипервръзките без подчертаване**/
   color: AntiqueWhite; /**промяна на цвета на хипервръзките**/
  }

a:visited {color: #3690AB;} /**промяна на цвета на посетена хипервръзка**/

a:hover {color: #FFFFFF;} /**промяна на цвета на хипервръзката при преминаване с курсора на мишката над нея**/
li:hover {background-color: #AD9C84;} /**промяна на цвета на фона на хипервръзката при преминаване с курсора на мишката над нея**/
  

 