body {background-color: AntiqueWhite;
	 color: #1A4551;
	 text-align: justify;
	 font-family: Arial, sans-serif;
	 }
	 
ul {margin-top: 2em; 
   margin-bottom: 3em; 
   text-align: center; 
   padding: 20px; 
   border-bottom: solid #3690AB 1px; 
   }
	 
	 
li {background-color: rgba(135,206,235,1.0);
  display: inline; 
  padding: 5px 10px;
  margin: 10px; 
  text-align: center;
  }

div.theorem {background-color: #FFFBF5;
			color: #42B0D1;
			font-family: "Times New Roman", serif;
			font-style: italic;
			font-size: 13pt;
			margin-left: 5%; /**отстъп от ляво за подравняване на теорема**/
			margin-right: 5%; /**отстъп от дясно за подравняване на теорема**/
			padding: 5px 2em; /**отстъпи над и под текста на теоремата и между текста на теоремата и вертикалните линии от ляво и дясно**/
			border-left: solid rgba(135,206,235,1.0) 15px; /**поставяне на вертикална линия от ляво на теоремата**/
			border-right: solid rgba(135,206,235,1.0) 15px; /**поставяне на вертикална линия от дясно на теоремата**/
			}
			
h1 {color: #3690AB;
   text-align:center;
   text-transform: uppercase;}
   
div.formula {text-align:center;
			font-size: 16pt;
			font-weight: bold;}

p b {font-size: 15pt;}

a:link {text-decoration: none; 
	    color: AntiqueWhite; 
	   }

a:visited {color: #3690AB;} 

a:hover {color: #FFFFFF;} 
li:hover {background-color: #AD9C84;}

 