body {background-color: AntiqueWhite;
	 color: #1A4551; /**задаване на цвят на текста на страницата**/
	 text-align: justify; /**подравняване на текста в страницат**/
	 }
	 
li {background-color: rgba(135,206,235,1.0);
  }

div.theorem {background-color: #FFFBF5;
			color: #42B0D1; /**задаване на цвят на текста на теоремите**/
			}
			
h1 {color: #3690AB; /**промяна на цвета на заглавието**/
   text-align:center; /**подравняване на заглавието в центъра**/
   }
   
div.formula {text-align:center;/**подравняване на формулата в центъра**/
		   }
 